body{
    font-family: Arial, Helvetica, sans-serif;
}




/* header */

.top_bar img{
    width: 85px;
    margin: 10px;
}

li.nav-item > img{
    width: 25px;
}


/* main */

/* jumbo */


.jumbo_img{
    width: 100%;
    background-color: black;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 250px 25px 85px;
}

.jumbo_img img{
    width: 25%;
}

.jumbotron button{
    background-color: orangered;
}

.jumbo_proposals img{
    border-radius: 25px;
}


/* console */

.txt{
    width: 50%;
    flex-grow: 1;
}

.img_txt{
    width: 50%;
    flex-grow: 1;
}

.img_txt img{
    width: 100%;
}


/* media */

main .row img{
    width: 100%;
}


/* footer */

footer{
    background-color: blue;
    padding: 50px 15px;
    font-weight: 600;
}

footer .logo{
    width: 60px;
}

.image_subtitle{
    padding-top: 26px;
}

footer .globo{
    width: 13px;
}

footer img{
    width: 100%;
}

ul{
    list-style: none;
}