body{
    font-family: Arial, Helvetica, sans-serif;
}




/* header */

.top_bar img{
    width: 85px;
    margin: 10px;
}

li.nav-item > img{
    width: 25px;
}


/* main */

/* jumbo */


.jumbo_img{
    width: 100%;
    background-color: black;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 250px 25px 85px;
}

.jumbo_img img{
    width: 25%;
}

.jumbotron button, .takes_two_cover button{
    background-color: orangered;
}

.jumbo_proposals img{
    border-radius: 25px;
}


/* PS_5 */

.txt{
    width: 43%;
    flex-grow: 1;
}

.img_txt{
    width: 57%;
    flex-grow: 1;
}

.img_txt img{
    width: 100%;
}

.appurtenance{
    width: calc(100% / 5);
    padding: 20px;
}

.appurtenance.selected{
    border-bottom:1px solid black;
}

.filtered{
    opacity: 75%;
}

.appurtenance_img{
    padding: 20px;
}

.appurtenance img{
    width: 100%;
}

/* news - takes two */

section.news{
    background-color: black;
}

.takes_two_cover{
    width: 100%;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 25px;
}

/* news - game */

.news > .container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.news .container h3, .news .container h4{
    padding-bottom: 25px;
}

.new_game{
    padding-bottom: 25px;
}

.new_game img{
    border-radius: 25px;
}

/* PS_4 */

.card{
    border: none;
    width: calc(100% / 3);
}

/* PlayStationPlus */

.playstationplus .row{
    background-color: gray;
}

.plus_logo, .now_logo{
    width: 50%;
}

.playstationplus a{
    background-color: lightgray;
}

/* PS_store */

.discount{
    padding-bottom: 20px;
}

/* PlayStationNow */

.playstationnow{
    background-color: midnightblue;
}

/* PS_social */

main .row img{
    width: 100%;
}


/* footer */

footer{
    background-color: blue;
    padding: 50px 15px;
}

footer .logo{
    width: 100px;
}

.image_subtitle{
    padding-top: 26px;
}

footer .globo{
    width: 20px;
    vertical-align: middle;
    margin-right: 0.8rem;
}

footer img{
    width: 100%;
}

footer ul{
    list-style: none;
    line-height: 2rem;
}

.sie_img{
    min-width: 100px;
}


/* utility */

.section_title{
    margin-bottom: 50px;
}

span{
    font-size: 0.4rem;
    vertical-align: text-top;
}

footer, main > section:not(.jumbotron){
    margin-top: 75px;
}


/* responsive */

@media screen and (max-width: 767px) {
    .PS_5 .appurtenance{
        width: calc(100% / 3);
        padding: 13px;
    }

    .card{
        width: 100%;
    }
}