body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border-radius: 20px;
}

/* header */

.top_bar img{
    margin: 10%;
}


/* main */

/* jumbo */

.jumbotron{
    padding: 150px 0;
}

.jumbo_img{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbo_img img{
    width: 25%;
}


/* media */

main .row img{
    width: 100%;
}


/* footer */

footer{
    background-color: blue;
    padding: 50px 15px;
    font-weight: 600;
}

footer .logo{
    width: 60px;
}

.image_subtitle{
    padding-top: 26px;
}

footer .globo{
    width: 13px;
}

footer img{
    width: 100%;
}

ul{
    list-style: none;
}